 /*
	custom css
  */
  
  /*
	first commit on style.css
	
  */
  
  @font-face {
font-family: 'Majid';
src: url('/fonts/majid.eot');
src: local('Majid'), url('fonts/majid.woff2') format('woff2'), url('fonts/Yekan.ttf') format('truetype'), url('Yekan.svg') format('svg');
font-weight: normal;
font-style: normal;
}
 .rtl_dir{
	 direction: rtl;
 } 
  .products {
	  min-height:340px;
  }
  .products * {
	  font-family: Majid;
  }
  
  .card-product .img-wrap img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    display: inline-block;
    -o-object-fit: cover;
    object-fit: cover;
}

.card-product:hover {
    -webkit-box-shadow: 0 4px 15px rgba(153, 153, 153, 0.3);
    box-shadow: 0 4px 15px rgba(153, 153, 153, 0.3);
    -webkit-transition: .5s;
    transition: .5s;
}
.card-product .img-wrap {
    border-radius: 0.2rem 0.2rem 0 0;
    overflow: hidden;
    position: relative;
    height: 220px;
    text-align: center;
}
.card-product .info-wrap {
    overflow: hidden;
    padding: 15px;
    border-top: 1px solid #eee;
}
.card-product .title {
	margin-top: 0;
    text-align: center;
    display: block;
    max-width: 90%;
    margin: 0 auto;
    font-size: .857rem;
    line-height: 25px;
	text-decoration:unset;
}
.price-wrap{
	    text-align: center;
    margin-top: 22px;
    color: #fd2d2d;
    font-weight: bold;
}
.price-new, .price {
    margin-right: 5px;
}

  
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}